{% extends 'head.html' %}
{% block content %}

<div class="email-view">
<h1><i class="fa fa-pencil-square-o"></i> Customize your email message</h1>
<form action="" method="" data-user-id="{{ user.id }}">
  <div id="email-input">
    <div>Email subject:</div>
    <input id="email-subject-input" class="email-input" type="text"
      name="email_subject" value="{{ email_subject }}"
    >

    <div>Email message:</div>
    <textarea id="email-body-input" class="email-input" name="email_body"
      rows="16" cols="40">{{ email_body }}</textarea
    >
  </div>
    <p id="email-description">
      Note: Here, [first name] and [last name] will be 
	replaced by the patient's first name and last name respectively.
    </p>

  <button id="save-email-button" class="save-button" type="submit">
    <i class="fa fa-check-square-o"></i> Save Changes
  </button>
</form>

<div id="save-success" class="save-result bold">
  Save successful
</div>
<div id="save-fail" class="save-result bold">
  Save failed, please try again
</div>
</div>
{% endblock %}
