{% extends 'head.html' %}
{% load static %}
{% block content %}

<div id="logo" class="clearfix">
  <img id="drchrono-logo" src="{% static 'images/drchrono-logo.png' %}" alt="" />
</div>


    <div id="login-button">
      <a href="https://drchrono.com/o/authorize/?redirect_uri={{redirect_url}}&response_type=code&client_id={{client_id}}&scope=patients:read%20user:read">
        <button class="login-button" type="button" name="button">
          Login with drchrono
        </button>
      </a>
    </div>

    <div id="demo-button">
      <a href="{% url 'drchrono_birthday:guest' %}">
        <button class="login-button" type="button" name="button">
           Login as Guest
        </button>
      </a>
    </div>
     <div class="about-app">
	<ul>
	   <li>Greet your patients on their birthday</li>
	   <li>Decide who would be receiving your emails</li>
	   <li>Cusomize your messages on the flow</li>
	</ul>
     </div>

{% endblock %}

